.date-picker-wrapper {
  position: absolute;
}

.date-picker {
  direction: ltr;
  width: 400px;
  border: solid 1px #dcdcdc;
  border-radius: 8px;

  &__current-date-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .d-button {
    background: #f5f5f5;
    padding: 3px 8px 3px 8px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    font-size: 14px;
    color: #808080;
    font-weight: 700;
    cursor: pointer;
  }

  &.dark {
    background: #002149;

    .d-button {
      background: #304e6f;
      border: 1px solid #575757;
      color: #fff;
    }

    .calendar__date {
      color: white;
    }
    .date-picker {
      &__arrows {
        color: white;
      }
      &__footer {
        color: white;
      }
      &__header {
        color: white;
      }
      &__arrows img {
        background: white;
        border-radius: 50%;
        padding: 2px;
      }
    }
    .calendar__cell.is-disabled .calendar__date {
      color: #949494 !important;
    }
    .calendar__cell.is-between {
      border-radius: 0;
      &:after {
        opacity: 0.4;
      }
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 0 25px;
    img {
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dcdcdc;
    padding: 10px;
  }

  &__selected-dates {
    direction: rtl;
    display: flex;
    gap: 10px;
  }

  &.rtl {
    .calendar {
      direction: rtl;
    }
    .calendar__cell {
      &.is-selected {
        border-radius: 5px;
      }
      &.is-selected-start {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.is-selected-end {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .calendar {
    direction: ltr;
    padding: 25px;
    &__row {
      display: flex;
    }

    &__week-name {
      color: #9ea6ae;
    }

    &__date {
      color: black;
    }

    &__cell {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      border-radius: 5px;
      position: relative;
      cursor: pointer;

      &:hover {
        border-color: currentColor;
      }

      &:before {
        content: "";
        float: left;
        padding-top: 100%;
        display: block;
      }

      &.is-selected {
        background: currentColor;
        .calendar__date {
          color: white;
        }
      }

      &.is-between {
        border-radius: 0;
        &:after {
          content: "";
          outline: 2px solid currentColor;
          background: currentColor;
          opacity: 0.1;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }

      &.is-selected-start {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.is-selected-end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.is-disabled {
        .calendar__date {
          color: #dcdcdc !important;
        }
        cursor: default;

        &:hover {
          border-color: transparent;
        }
      }

      .is-passed {
        position: absolute;
        width: 18px;
        border-color: #9ea6ae;
        border-width: 1px 0 0;
        border-style: solid ;
        transform: rotate(135deg);
        .calendar__date {
          color: #dcdcdc !important;
        }
      }

      &.is-today {
        border: 1px solid #BEC6CC;
      }

      &.is-week-name {
        cursor: default;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}